/*  */
* {
    margin: 0; /* Remove a margem padrão do body */
    padding: 0; /* Remove o padding padrão do body */
    box-sizing: border-box; /* Faz com que o padding e a borda não aumentem o tamanho do elemento */
}

html, body {
    height: 100%; /* Faz com que o body tenha 100% da altura da tela */
    margin: 0; /* Remove a margem padrão do body */
}

body {
    font-family: 'Arial', sans-serif; 
    background-color: #f0f8ff;
    color: #333;
    display: flex; /* Faz com que os elementos fiquem em linha e tenham as propriedades flex */
    flex-direction: column; /* Faz com que os elementos fiquem em coluna */
}

header {
    text-align: center;
    margin-bottom: 2rem; 
}

h1 {
    margin-top: 2rem;
    font-size: 2em;
    color: #4a90e2;
}

p {
    margin-bottom: 1rem;
}

.corpo {
    background-color: #fff;
    border-radius: 10px;
    max-width: 37rem; /* Limita a largura do elemento */
    padding: 1rem 2rem;
    margin: 0 auto;
    display: flex; /* Faz com que os elementos fiquem em linha e tenham as propriedades flex */
    flex: 1; /* Faz com que o elemento ocupe todo o espaço disponível */
    margin-bottom: 5rem;
}

h2 {
    font-size: 1.2rem;
}

form {
    margin-bottom: 2rem;
}

.form-grupo {
    margin-bottom: 1.5rem;
}

label {
    display: block; /* Faz com que o elemento seja exibido em bloco */
    font-weight: bold; 
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #4a90e2;
    color: white;
    padding: 10px 15px;
    border: none; /* Remove a borda do botão */
    border-radius: 5px;
    cursor: pointer; /* Muda o cursor do mouse para uma mãozinha */
    font-size: 1em;
    display: inline-block; /* Faz com que o elemento seja exibido em linha para poder ser centralizado */
}

.btn {
    text-align: center; /* Centraliza o botão */
}

button:hover {
    background-color: #3578d1;
}

#resultado {
    margin-top: 1.5rem;
    padding: 1rem;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    margin-left: 2.5rem;
}

#resultado h2 {
    color: #4a90e2;
}

#resultado p {
    font-size: 1.1em;
}

#resultado:hover { /* Adiciona um efeito de hover no elemento */
    background-color: #f0f8ff;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #224879;
    color: white;
    width: 100%; /* Faz com que o elemento ocupe toda a largura da tela */
    margin-top: auto; /* Faz com que o elemento fique no final da página */
}